// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .nav__square{
        background: none;
    }
    .wrapper{
        flex-direction: column-reverse;
        border: 1px solid red;
        width: 100vw;
        align-items:center;
        .wrapper__logo{
            margin: 0 750px 750px 0;
            .wrapper__logosvg{
                width: 50px;
            }
        }
    }
    .wrapper__text{
        margin: 0;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        .wrapper__text1{
            padding: 0;
            margin-top: 150px;
            .text__new{
                padding: 10px;
            }
        }
        .wrapper__text4{
            width: 100%;
            letter-spacing: 0;
            font-size: 30px;
        }
        .wrapper__text2{
            font-size: 40px;
        }
        .wrapper__text3{
            font-size: 50px;
            width: 100%;
        }
    }
    .nav{
        .imgdiv{
            display: none;
        }
        .imgdevices{
            display: none;
        }
        .nav__square{
            display: none;
        }
        .list{
            justify-content: center;
            gap: 20px;
            .dot{
                width: 20px;
                height: 20px;
                transform: translate(0,15px);
            }
        }
        li:first-child{
            margin-left: 50px;
        }
        li{
            font-size: 25px;
        }
    }
    .nav, .list{
        padding: 0;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .nav__square{
        background: none;
    }
    .wrapper{
        flex-direction: column-reverse;
        width: 100vw;
        align-items:center;
        .wrapper__logo{
            margin: 0 750px 665px 0;
        }
    }
    .wrapper__text{
        margin: 0;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        .wrapper__text1{
            padding: 0;
            margin-top: 150px;
            .text__new{
                padding: 10px;
            }
        }
        .wrapper__text4{
            width: 100%;
            letter-spacing: 0;
        }
    }
    .nav{
        .imgdiv{
            display: none;
        }
        .imgdevices{
            display: none;
        }
        .nav__square{
            display: none;
        }
        .list{
            justify-content: center;
        }
        li:first-child{
            margin-left: 50px;
        }
    }
    .nav, .list{
        padding: 0;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .nav__square{
        background: none;
    }
    .wrapper{
        flex-direction: column-reverse;
        width: 100vw;
        align-items:center;
        .wrapper__logo{
            margin: 0 750px 665px 0;
        }
    }
    .wrapper__text{
        margin: 0;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        .wrapper__text1{
            padding: 0;
            margin-top: 150px;
            .text__new{
                padding: 10px;
            }
        }
        .wrapper__text4{
            width: 100%;
            letter-spacing: 0;
        }
    }
    .nav{
        .imgdiv{
            display: none;
        }
        .imgdevices{
            display: none;
        }
        .nav__square{
            display: none;
        }
        .list{
            justify-content: center;
        }
        li:first-child{
            margin-left: 50px;
        }
    }
    .nav, .list{
        padding: 0;
    }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .nav__square{
        background: none;
    }
    .wrapper{
        flex-direction: column-reverse;
        width: 100vw;
        align-items:center;
        .wrapper__logo{
            margin: 0 750px 665px 0;
        }
    }
    .wrapper__text{
        margin: 0;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        .wrapper__text1{
            padding: 0;
            margin-top: 150px;
            .text__new{
                padding: 10px;
            }
        }
        .wrapper__text4{
            width: 100%;
            letter-spacing: 0;
        }
    }
    .nav{
        .imgdiv{
            display: none;
        }
        .imgdevices{
            display: none;
        }
        .nav__square{
            display: none;
        }
        .list{
            justify-content: center;
        }
        li:first-child{
            margin-left: 50px;
        }
    }
    .nav, .list{
        padding: 0;
    }
}
@media only screen and (min-width: 1201px){
    .nav__square{
        background: none;
    }
    .wrapper{
        flex-direction: column-reverse;
        width: 100vw;
        align-items:center;
        .wrapper__logo{
            margin: 0 750px 665px 0;
        }
    }
    .wrapper__text{
        margin: 0;
        display: flex;
        justify-content: flex-start;
        height: 100%;
        .wrapper__text1{
            padding: 0;
            margin-top: 150px;
            .text__new{
                padding: 10px;
            }
        }
        .wrapper__text4{
            width: 100%;
            letter-spacing: 0;
        }
    }
    .nav{
        .imgdiv{
            display: none;
        }
        .imgdevices{
            display: none;
        }
        .nav__square{
            display: none;
        }
        .list{
            justify-content: center;
        }
        li:first-child{
            margin-left: 50px;
        }
    }
    .nav, .list{
        padding: 0;
    }
}