@media screen and (max-width: 375px) {
    .wrapper{
        display: block;
        .nav__burger2{
            display: block;
            left: 0;
            padding-left: 24px;
        }
        .main__magnifier2{
            display: block;
            top: 4.32%;
            right: 0;
            padding-right: 24px;
        }
        .nav{
            display: none;
        }
        .main{
            &__search{
                display: none;
            }
            &__text2{
                padding-left: 24px !important;
                .main__categorias{
                    display: none;
                }
                .main__categorias2{
                    display: block !important;
                    padding-top: 88px;
                }
            }
            .main__choice{
                padding-left: 24px;
                padding-right: 24px;
                border-bottom: none;
                .main__pizzas > span{
                    display: none;
                }
                .main__empanadas > span{
                    display: none;
                }
                .main__bebidas > span{
                    display: none;
                }
                .main__postres > span{
                    display: none;
                }
                .main__pizzas{
                    border-bottom: none;
                    padding: 0;
                    background-color: #E8E8E8;
                    border-radius: 16px;
                    width: 54px;
                    height: 54px;
                    text-align: center;
                    position: relative;
                    .main__pizzasImg{
                        position: relative;
                        top: 25%;
                        transform: none;
                    }
                }
                .main__empanadas{
                    background-color: #E8E8E8;
                    border-radius: 16px;
                    width: 54px;
                    height: 54px;
                    text-align: center;
                    .main__empanadasImg{
                        position: relative;
                        top: 25%;
                        transform: none;
                    }
                }
                .main__bebidas{
                    background-color: #E8E8E8;
                    border-radius: 16px;
                    width: 54px;
                    height: 54px;
                    text-align: center;
                    .main__bebidasImg{
                        position: relative;
                        top: 25%;
                        transform: none;
                    }
                }
                .main__postres{
                    background-color: #E8E8E8;
                    border-radius: 16px;
                    width: 54px;
                    height: 54px;
                    text-align: center;
                    .main__postresImg{
                        position: relative;
                        top: 25%;
                        transform: none;
                    }
                }
            }
            .main__menu{
                padding-left: 24px;
                padding-right: 24px;
                .main__lot1{
                    height: auto !important;
                    .lot1__img{
                        width: 151px;
                        padding-bottom: 18px;
                    }
                    .lot1__text3{
                        position: relative;
                        right: 10%;
                        bottom: 3%;
                    }
                    width: 151px;
                    height: 157px;
                }
                .main__lot2{
                    height: auto !important;
                    .lot2__img{
                        width: 151px;
                        padding-bottom: 18px;
                    }
                    .lot2__text3{
                        position: relative;
                        right: 10%;
                        bottom: 3%;
                    }
                    width: 151px;
                    height: 157px;
                }
                .main__lot3{
                    height: auto !important;
                    .lot3__img{
                        width: 151px;
                        padding-bottom: 18px;
                    }
                    .lot3__text2{
                        opacity: 0.2;
                    }
                    .lot3__text3{
                        position: relative;
                        right: 10%;
                        bottom: 3%;
                    }
                    width: 151px;
                    height: 157px;
                }
                .main__lot4{
                    height: auto !important;
                    .lot4__img{
                        width: 151px;
                        padding-bottom: 18px;
                    }
                    .lot4__text1{
                        display: none;
                    }
                    .lot4__text122{
                        display: block;
                    }
                    .lot4__text2{
                        opacity: 0.2;
                    }
                    .lot4__text3{
                        position: relative;
                        right: 10%;
                        bottom: 3%;
                    }
                    width: 151px;
                    height: 157px;
                }
            }
        }
        .aside{
            background-color: white;
            .aside__miordendiv{
                display: none;
            }
            .aside__img1{
                display: none;
            }
            .aside__button{
                margin-top: 277px;
                margin-bottom: 21px;
                margin-left: -6.5px;
                width: 150px;
                padding: 16.5px 95px;

            }
        }
    }
}